.nav
{
    margin-left:20px;
}
.body
{
    background-color: rgb(215, 215, 215) ;
}
.titre
{
 display:flex;
 justify-content:center;
 align-items: center;
 height:89px;
}

.section1
{  
  margin: 20px;   
  display:flex;
  justify-content:space-between;
  align-items:space-between;
  
}
